In [ ]:
# create a linked list 1234

class node:
  def __init__(self,data):
    self.data = data
    self.next = None

class linkedlist:
  def __init__(self):
    self.head = None
  
if __name__ == '__main__':
  print("Enter the list:")
  get_list = [1,2,3,4]#list(input())
  llist = linkedlist()
  llist.head=node(get_list[0]) 
  print("head:",llist.head.data)
  prev_node = llist.head
  for val in get_list[1:]:
    temp_node = node(val)
    prev_node.next = temp_node
    print("Next val: ",prev_node.next.data)
    prev_node = temp_node

  print("Printing linked list")
  temp = llist.head
  try:
    while  temp.data != None:
      print(temp.next.data)
      temp = temp.next
  except:
    pass

Enter the list:
head: 1
Next val:  2
Next val:  3
Next val:  4
Printing linked list
2
3
4

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
userInput = 4
print(1)
for i in range((userInput*2)-1):
  if i%2:
    t = "1 "*(i+2)
    print(t)

1
1 1 1
1 1 1 1 1
1 1 1 1 1 1 1

In [ ]:
'''Given 2 numbers N,K and an array of N integers, find if the element K exists in the array.
Input Size : N <= 100000
Sample Testcase :
INPUT
5 2
1 2 3 4 5
OUTPUT
yes'''

In [ ]:
"""You are given a number with duplicate digits your task is to remove the immediate duplicate digits and print the result

Input Description:
You are given a long string of digits

Output Description:
Print the desired result print -1 if result length is 0

Sample Input :
1331
Sample Output :
11"""

a = list("1331")
for i in range(len(a)):
  if i+1<len(a) and a[i+1] == a[i]:
    a.remove(a[i])
    a.remove(a[i])
print("".join(b for b in a ))

11

In [ ]:
'''
In XYZ country there is rule that car’s engine no. depends upon car’ number plate. Engine no is sum of all the integers present on car’s Number plate.The issuing authority has hired you in order to provide engine no. to the cars.Your task is to develop an algorithm which takes input as in form of string(Number plate) and gives back

Engine number.

Input Description:
You are given a string ’s’

Output Description:
Print the engine number

Sample Input :
HR05-AA-2669
Sample Output :
28
'''
plate = list("HR05-AA-2669")
a = []
for i in plate:
  try:
    print(type(int(i)), i)
    a.append(int(i))
  except:
    pass
print(sum(a))

<class 'int'> 0
<class 'int'> 5
<class 'int'> 2
<class 'int'> 6
<class 'int'> 6
<class 'int'> 9
28

In [ ]:
'''
Jennyfer is fond of strings. She wants to read the character from right to left (reverse the string), so she wants you to design a suitable algorithm which satisfy her desire.

Input Description:
Enter the string ‘s’

Output Description:
Print the string from characters right to left.

Sample Input :
jennyfer
Sample Output :
Refynnej
'''

s = list("jennyfer")

s[-1]=s[-1].upper()

for v in s[::-1]:
  print(v,end="")

Refynnej

In [ ]:
a="a"
a.upper()

'A'

In [ ]:
'''
Complete the code in the editor below. The variables , , and  are already declared and initialized for you. You must:

Declare  variables: one of type int, one of type double, and one of type String.
Read  lines of input from stdin (according to the sequence given in the Input Format section below) and initialize your  variables.
Use the  operator to perform the following operations:
Print the sum of  plus your int variable on a new line.
Print the sum of  plus your double variable to a scale of one decimal place on a new line.
Concatenate  with the string you read as input and print the result on a new line.
'''

from decimal import Decimal

i = int(1)
d = Decimal(3.23)
s = "hi"

print(round(i+d,1))
print(Decimal(i)+d)
print(i,s)

4.2
4.229999999999999982236431606
1 hi

In [ ]:
"""
Given a string, , of length  that is indexed from  to , print its even-indexed and odd-indexed characters as  space-separated strings on a single line (see the Sample below for more detail).

Note:  is considered to be an even index.
"""

N = 2
s = ["given","string"]
s1 = ""
s2=""
for word in s:
  l = list(word)
  print(l)
  for i,v in enumerate(l):
    if i % 2 == 0:
      s1 += v
    else:
      s2 += v
  s1+=" "
  s2+=" "

s1 = s1.split()
s2 = s2.split()
for i in range(len(s1)):
  print(s1[i],s2[i])

['g', 'i', 'v', 'e', 'n']
['s', 't', 'r', 'i', 'n', 'g']
gvn ie
srn tig

In [ ]:
a = "hi lk"
a.split()

['hi', 'lk']

In [ ]:
"""
Given an array, , of  integers, print 's elements in reverse order as a single line of space-separated numbers.

Input Format

The first line contains an integer,  (the size of our array).
The second line contains  space-separated integers describing array 's elements.

Constraints

, where  is the  integer in the array.
Output Format

Print the elements of array  in reverse order as a single line of space-separated numbers.

Sample Input

4
1 4 3 2
Sample Output

2 3 4 1
"""

N = int(4)
a = "1 4 3 2".split()

a.reverse()
print(" ".join(c for c in a))

2 3 4 1

In [ ]:
#alternative ans

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input())

    arr = list(map(int, input().rstrip().split()))
    #print(sorted(arr))

    for elements in arr[::-1]:
        print(elements,end=' ')

In [ ]:
#Map and dictionary
"""
Given  names and phone numbers, assemble a phone book that maps friends' names to their respective phone numbers. 
You will then be given an unknown number of names to query your phone book for. 
For each  queried, print the associated entry from your phone book on a new line in the form name=phoneNumber; 
if an entry for  is not found, print Not found instead.
"""


n =3
d = ["sam 99912222","tom 11122222","harry 12299933"]
q = ["sam","ed"]
"""
d=[]
for i in range(int(n)):
  d.append(input())
"""

phone_book = {}
for i in d:
  t = i.split()
  phone_book[t[0]]=t[1]
print(phone_book)

while True:
  try:
    q = str(input())
    if q in phone_book: 
      print(q+"="+phone_book[q])
    else:
      print("Not found")
  except:
    break

{'sam': '99912222', 'tom': '11122222', 'harry': '12299933'}
99912222
Not found

In [ ]:
# alternative sol

n=int(input())
dict={}
for item in range(n):
    temp=str(input())
    l=temp.split()
    #print(l)
    dict[l[0]]= str(l[1])
#print(dict)
#flag=True
#i=1
while(True):
    try:
        a=str(input())
    except:
        break
    #print("while: ",a,type(a))
    #i=i+1
    if a in dict:
        print("{0}={1}".format(a,dict.get(a)))
        #print(dict.get(a))
    else:
        print("Not found")

In [ ]:
#def dict

from collections import defaultdict

a = defaultdict(list)
a["1"].append("HI")
a["1"].append("HIi")
a

defaultdict(list, {'1': ['HI', 'HIi']})

In [ ]:
#normal dict
b["1"] = ["hello"]
b["1"].append("HI")
b["1"].append("HIi")
b

{'1': ['hello', 'HI', 'HIi']}

In [ ]:
#ordered dict
from collections import OrderedDict
b = OrderedDict()
b["1"] = ["hello"]
b["1"].append("HI")
b["1"].append("HIi")
b

OrderedDict([('1', ['hello', 'HI', 'HIi'])])

In [ ]:
b['1']

['hello', 'HI', 'HIi']

In [ ]:
b['3'] = "n"
b

OrderedDict([('1', ['hello', 'HI', 'HIi']), ('3', 'n')])

In [ ]:
print(b['3'])
del b['3']
b

n

OrderedDict([('1', ['hello', 'HI', 'HIi'])])

In [ ]:
#User string
from collections import UserString
v = 12233
v1 = UserString(v)
v1[2:4]

'23'

In [ ]:
#heap

import heapq
a =[1,2,2,1,3,2,1,1,1,2]
heapq.heapify(a)
print(list(a))
heapq.heappush(a,7)
print(list(a))
heapq.heappop(a)
print(list(a))

#heapq.nlargest(3,a)

heapq.nsmallest(len(a),a)

[1, 1, 1, 1, 2, 2, 2, 1, 2, 3]
[1, 1, 1, 1, 2, 2, 2, 1, 2, 3, 7]
[1, 1, 2, 1, 2, 2, 7, 1, 2, 3]

[1, 1, 1, 1, 2, 2, 2, 2, 3, 7]

In [ ]:
"""
Write a factorial function that takes a positive integer,  as a parameter and prints the result of  ( factorial).
"""

n =4

res = 1

for i in range(1,int(n+1)):
  res=res*i
res

24

In [ ]:
"""
Given a base- integer, , convert it to binary (base-). 
Then find and print the base- integer denoting the maximum number of consecutive 's in 's binary representation.
"""
import heapq
from collections import UserString
n = 161
l = str(bin(101101110)[2:])
li = l.split('0')
print(li)
heapq.heapify(li)
item = heapq.heappop(heapq.nlargest(1,li))
len(UserString(item))

['11', '', '', '', '', '', '11', '1', '1', '111', '', '', '11', '11', '']

3

In [ ]:
"""
The absolute difference between two integers,  and , is written as . The maximum absolute difference between two integers in a set of positive integers, , is the largest absolute difference between any two integers in .

The Difference class is started for you in the editor. It has a private integer array () for storing  non-negative integers, and a public integer () for storing the maximum absolute difference.

Task
Complete the Difference class by writing the following:

A class constructor that takes an array of integers as a parameter and saves it to the  instance variable.
A computeDifference method that finds the maximum absolute difference between any  numbers in  and stores it in the  instance variable.
"""
import heapq
a = "1 2 5"
a = list(map(int, a.split()))
print(a)

heapq.heapify(a)

smallest = heapq.heappop(heapq.nsmallest(1,a))
largest = heapq.heappop(heapq.nlargest(1,a))
print(largest-smallest)

[1, 2, 5]
4

In [ ]:
class Difference:
    def __init__(self, a):
        self.__elements = a

    # Add your code here
    def computeDifference(self):
        #print(a,type(a))
        diff=[]
        for first_number in a:
            #print(first_number)
            for second_number in a[1:]:
                #print("diff",(first_number-second_number))
                diff.append(abs(first_number-second_number))


        #print(max(diff))
        self.maximumDifference=max(diff)
        #maximum_Difference1=max(diff)
        return str(max(diff))

In [ ]:
a = [1.0,4]
sorted(a)

[1.0, 4]

In [ ]:
"""
Task
Write a Calculator class with a single method: int power(int,int). The power method takes two integers,  and , as parameters and returns the integer result of . If either  or  is negative, then the method must throw an exception with the message: n and p should be non-negative.

Note: Do not use an access modifier (e.g.: public) in the declaration for your Calculator class.

Input Format

Input from stdin is handled for you by the locked stub code in your editor. The first line contains an integer, , the number of test cases. Each of the  subsequent lines describes a test case in  space-separated integers denoting  and , respectively.

Constraints

No Test Case will result in overflow for correctly written code.
Output Format

Output to stdout is handled for you by the locked stub code in your editor. There are  lines of output, where each line contains the result of  as calculated by your Calculator class' power method.

Sample Input

4
3 5
2 4
-1 -2
-1 3
Sample Output

243
16
n and p should be non-negative
n and p should be non-negative

"""
class Calculator():

    def power(self,n,p): 
        if(n>=0 and p>=0):
            #print("Printing",pow(n,p))#(self.n,self.p))
            #print("check",n,p)
            return (pow(n,p))
        else:
            #print(n,p)
            raise Exception("n and p should be non-negative")
            #raise Exception

myCalculator=Calculator()
T=int(input())
for i in range(T):
    n,p = map(int, input().split())
    try:
        ans=myCalculator.power(n,p)
        print(ans)
    except Exception as e:
        print(e)

In [ ]:
#deque
from collections import deque

s = deque([1,2,3])
s.appendleft(0)
s.append(4)
print(s)
len(s)

deque([0, 1, 2, 3, 4])

5

In [ ]:
#intefaces
"""
ask
The AdvancedArithmetic interface and the method declaration for the abstract divisorSum(n) method are provided for you in the editor below.

Complete the implementation of Calculator class, which implements the AdvancedArithmetic interface. The implementation for the divisorSum(n) method must return the sum of all divisors of .

Input Format

A single line containing an integer, .

Constraints

Output Format

You are not responsible for printing anything to stdout. The locked template code in the editor below will call your code and print the necessary output.

Sample Input

6
Sample Output

I implemented: AdvancedArithmetic
12
"""

class AdvancedArithmetic(object):
  def divisor(n):
    raise NotImplementedError
class calculator(AdvancedArithmetic):
  def divisor(self,n):
    div = []
    for i in range(1,n+1):
      if n%i == 0:
        div.append(i)
    return div

if __name__ == '__main__':
  mycal=calculator()
  res = mycal.divisor(6)
  print(sum(res))

12

In [ ]:
#bubble sort

a = [2,1,2,3]
swap = 0

for j in range(len(a)):
  for i in range(len(a)):
    if i+1 < len(a) and a[i]>a[i+1]:
      temp =  a[i+1]
      a[i+1] = a[i]
      a[i] = temp
      swap +=1
print("Smallest: ",a[0])
print("Largest: ",a[-1])
print("Swaped: ",swap)
a

Smallest:  1
Largest:  3
Swaped:  1

[1, 2, 2, 3]

In [ ]:
"""
Given the values of a,b and x in the equation ax + b = y. Find the value of y.
Sample Testcase :
INPUT
3 5 2
OUTPUT
11
"""
s = "3 5 2"
a = s.split()
print(a)
y = int(a[0])*int(a[2])+int(a[1])
print(y)

['3', '5', '2']
11

In [ ]:
#BST - binary search tree
class node:
  def __init__(self,data):
    self.data = data
    self.left = None
    self.right = None
class bst:
  def insert(self,root,data):
      if root==None:
          return node(data)
      else:
          if data<=root.data:
              cur=self.insert(root.left,data)
              root.left=cur
              print("left", root.left.data)
          else:
              cur=self.insert(root.right,data)
              root.right=cur
              print("right", root.right.data)

      return root
    
  def getHeight(self,root):
    if root.left==None and root.right==None:
        return(0)
    else:
        hLeft = 0
        hRight = 0
        if root.left:
            hLeft = self.getHeight(root.left) + 1
        if root.right:
            hRight = self.getHeight(root.right) + 1
        return(max(hLeft, hRight))
  def levelOrder(self,root):
    #Write your code here
    leafs = [root]
    while len(leafs) > 0:
        leaf = leafs.pop(0)
        print(leaf.data, end=" ")
        if leaf.left:
            leafs.append(leaf.left)
        if leaf.right:
            leafs.append(leaf.right)


if __name__ == '__main__':
  a = [3,5,4,7,2,1]
  tree = bst()
  root = None
  for i in range(len(a)):
      root = tree.insert(root,a[i])

  print(tree.getHeight(root))
  print(tree.levelOrder(root))

right 5
left 4
right 5
right 7
right 5
left 2
left 1
left 2
2
3 2 5 1 4 7 None

In [ ]:
"""
A Node class is provided for you in the editor. A Node object has an integer data field, , and a Node instance pointer, , pointing to another node (i.e.: the next node in a list).

A removeDuplicates function is declared in your editor, which takes a pointer to the  node of a linked list as a parameter. Complete removeDuplicates so that it deletes any duplicate nodes from the list and returns the head of the updated list.

Note: The  pointer may be null, indicating that the list is empty. Be sure to reset your  pointer when performing deletions to avoid breaking the list.

Input Format

You do not need to read any input from stdin. The following input is handled by the locked stub code and passed to the removeDuplicates function:
The first line contains an integer, , the number of nodes to be inserted.
The  subsequent lines each contain an integer describing the  value of a node being inserted at the list's tail.

Constraints

The data elements of the linked list argument will always be in non-decreasing order.
Output Format

Your removeDuplicates function should return the head of the updated linked list. The locked stub code in your editor will print the returned list to stdout.

Sample Input

6
1
2
2
3
3
4
Sample Output

1 2 3 4 """

class node:
  def __init__(self,data):
    self.data = data
    self.next = None
class linkedlist:
  def add(self,data,head=None):
    if head is None:
      head = node(data)
      #print("head", head.data)
      return head
    else:
      head.next=node(data)
      #print("nextnode",head.next.data)
      return head.next

  def removeDuplicate(self,node_a):

    head2 = node_a
    org_head = node_a

    while head2.next:
      while head2.next and head2.next.data == head2.data:
        head2.next = head2.next.next
      head2 = head2.next
    return org_head
 
if __name__ == '__main__':
  llist = linkedlist()
  n = [2,1,1,1,1,1,3]
  head1 = llist.add(n[0])
  head = head1
  for i in n[1:]:
    head = llist.add(i,head)
  """
  print("\nprinting list")
  while head1 is not None:
    try:
      if head1.data != head1.next.data:
        print(head1.data,end=" ")
    except:
      print(head1.data,end=" ")
    head1 = head1.next
  """
  print("\nRemoving duplicates")
  head2=head1

  head3 = llist.removeDuplicate(head2)

  
  while head3:
    print(head3.data,end=" ")
    head3=head3.next

Removing duplicates
2 1 3

In [17]:
#Binary Search tree - Insersion
#https://www.techiedelight.com/construct-binary-tree-from-inorder-level-order-traversals/

class node:
  def __init__(self,data):
    self.data = data
    self.left = None
    self.right = None
class bst:
  def insert(self,data,root):
    if root is None:
      return node(data)
    
    if (data<root.data):
      root.left = self.insert(data,root.left)
    else:
      root.right = self.insert(data,root.right)
    return root

  def inorder(self,root):
    if root is None:
      return
    
    self.inorder(root.left)
    print(root.data,end= " ")
    self.inorder(root.right)
      
if __name__ == '__main__':
  keys = [15, 10, 20, 8, 12, 16, 25]
  root = None
  b=bst()
  for i in keys:
    root = b.insert(i,root)
 
  b.inorder(root)

8 10 12 15 16 20 25

In [ ]:
"""
A prime is a natural number greater than  that has no positive divisors other than  and itself. Given a number, , determine and print whether it's  or .

Note: If possible, try to come up with a  primality algorithm, or see what sort of optimizations you come up with for an  algorithm. Be sure to check out the Editorial after submitting your code!

Input Format

The first line contains an integer, , the number of test cases.
Each of the  subsequent lines contains an integer, , to be tested for primality.

Constraints

Output Format

For each test case, print whether  is  or  on a new line.

Sample Input

3
12
5
7
Sample Output

Not prime
Prime
Prime
"""

l = [12,5,7,10000000000]

In [46]:
import math
n = 1000000000000

def sqrt(n):
  if n <= 2 and int(math.modf(n)[0]) == 0:
    return
  print("--",n, "--",math.modf(n))
  n = math.sqrt(n)
  sqrt(n)

print("final: ",sqrt(n))

-- 1000000000000 -- (0.0, 1000000000000.0)
-- 1000000.0 -- (0.0, 1000000.0)
-- 1000.0 -- (0.0, 1000.0)
-- 31.622776601683793 -- (0.6227766016837926, 31.0)
-- 5.623413251903491 -- (0.6234132519034912, 5.0)
-- 2.3713737056616555 -- (0.3713737056616555, 2.0)
final:  None

In [76]:
"""
Today, we're working with regular expressions. Check out the Tutorial tab for learning materials and an instructional video!

Task
Consider a database table, Emails, which has the attributes First Name and Email ID. Given  rows of data simulating the Emails table, print an alphabetically-ordered list of people whose email address ends in .

Input Format

The first line contains an integer, , total number of rows in the table.
Each of the  subsequent lines contains  space-separated strings denoting a person's first name and email ID, respectively.

Constraints

Each of the first names consists of lower case letters  only.
Each of the email IDs consists of lower case letters ,  and  only.
The length of the first name is no longer than 20.
The length of the email ID is no longer than 50.
Output Format

Print an alphabetically-ordered list of first names for every user with a gmail account. Each name must be printed on a new line.

Sample Input

6
riya riya@gmail.com
julia julia@julia.me
julia sjulia@gmail.com
julia julia@gmail.com
samantha samantha@gmail.com
tanya tanya@gmail.com
Sample Output

julia
julia
riya
samantha
tanya

"""
from collections import UserString
import re
email = {"riya":"riya@gmail.com",
         "julia":"julia@julia.me",
         "samantha":"samantha@gmail.com",
         "amantha":"famantha@gmail.com"}
names = []

for key, val in email.items():
  #print(key,val)
  key,val = UserString(key),UserString(val) 
  if (key== key.lower() and val == val.lower() and len(key)<=20 and 
      len(val)<=50 and val.count("@")==1 and re.search('@gmail.com$',str(val))):
    #print(key)
    names.append(key)
names = sorted(names)
for i in names:
  print(i)

amantha
riya
samantha

In [87]:
import re
a ="samantha@gmail.com"
b = re.search('@gmail.com$',a)
b.span()[0]

8

In [90]:
a ="samantha@gmail.com"
b = re.findall('ma',a)
b

['ma', 'ma']

In [91]:
a ="samantha@gmail.com"
b = re.split('ma',a)
b

['sa', 'ntha@g', 'il.com']

In [92]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [93]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

#Linked list

In [ ]:
class node:
  def __init__(self,data):
    self.data=data
    self.next=None

class linkedList:
  def __init__(self):
    self.head= None

if __name__='__main__':
  llist= linkedList()
  llist.head=node(1)
  second=node(2)
  third=node(3)
  second.next=third

https://www.youtube.com/watch?v=Bd1L64clh34

Node operations:
get_next() 
set_next()
set_data()
has_next()
to_string

list operations:
get_size()
find(data)
add(data)
remove(data)
print_list()
sort()

In [ ]:
class node(object):
  def __init__(self,data,next_data=None):
    self.data=data
    self.next=next_data
  def get_next(self):
    return self.next
  def set_next(self,next_data):
    self.next=next_data
  def set_data(self,data):
    self.data=data
  def get_data(self):
    return self.data
  
class linkedlist(object):
  def __init__(self,r=None):
    self.head=r
    self.size=0
  def add(self,data):
    new_node=node(data,self.head)
    self.head=new_node
    self.size+=1

In [ ]:
llist=linkedlist()
llist.add(1)
llist.add(2)
llist.add(3)

In [ ]:
#success
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None 
class Solution: 
    def display(self,head):
        current = head
        while current:
            print(current.data,end=' ')
            current = current.next

    def insert(self,head,data): 
    #Complete this method
        new_node=Node(data)
        if head:
            current=head
            while current.next:
                current=current.next
            current.next=new_node
            return head
        else:
            return new_node
        #new_node.next=data
        


mylist= Solution()
T=int(input())
head=None
for i in range(T):
    data=int(input())
    head=mylist.insert(head,data)    
mylist.display(head);